<% User.all.each do |user| %>
<div id="<%= user.id %>" class="card" onclick="redirectFunction(<%= user.id %>)">
  <div class="img"><%= image_tag "https://i.ibb.co/CP4m1b4/img.jpg", alt: "user-photo", height:150 %></div>
  <div class="info">
    <h2>User name: <%= user.name %></h2>
    <p>Number of posts: <%= user.posts_counter %></p>
  </div>
</div>
<% end %>
<script>
function redirectFunction (id) {
  window.location.href = "users/" + id;
}
</script>
