
<% User.all.each do |user| %>
<% if user.id == params[:id].to_i %>
<div id="<%=params[:id]%>" class="card">
  <div class="img"><%= image_tag "https://i.ibb.co/CP4m1b4/img.jpg", alt: "user-photo", height:150 %></div>
  <div class="info">
    <h2>User name: <%= user.name %></h2>
    <p>Number of posts: <%= user.posts_counter %></p>
  </div>
</div>
<div class="posts">
  <div class="bio">
    <h2>Bio</h2>
    <p><%= user.bio %></p>
  </div>
  <% Post.all.each_with_index do |post, i| %>
  <% if user.id == post.author_id %>
    <div class="post" id="<%=post.id%>">
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <p class="reactions">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>
  <% end %>
  <button onclick="seePostsFunction(<%=user.id%>)">See all posts</button>
  <%if user.id == @user.id %>
  <button onclick="createPostFunction(<%=user.id%>)">Create post</button>
  <%end%>
</div>
<% end %>
<% end %>
<script>
  function seePostsFunction(id) {
     window.location.href = id+"/posts";
  }
  function createPostFunction(id) {
    window.location.href = "/posts/new"
  }
</script>
