<% post = Post.find_by(id: params[:id])%>
<% flash[:post_author_id] = post.author_id %>
<% unless post.nil? %>
<div class="post" id="<%=post.id%>">
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <p class="reactions">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </p>
    </div>
    <div class="comments">
      <% Comment.all.each do |comment| %>
      <%if comment.post_id == post.id %>
        <p><%= User.find_by(id:comment.author_id).name%>: <%= comment.text %></p>
      <% end %>
      <% end %>
</div>
<%= render 'forms/comment', comment: @comment %>
<% like = Like.find_by(author_id: @user.id, post_id: post.id) %>
<% if like.nil? %>
<%= render 'forms/like', like: @like %>
<% end %>
<% end%>